<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h1>Arithmetic Questions</h1>
      <button type="button" class="btn btn-primary">Create New Question</button>
    </div>
  </div>
  <div class="row">
    <div class="input-field col-xs-12">
      <h4>Filter by Operator</h4>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <button type="button" class="btn btn-warning" ng-click="filters.operator = '*'">Multiplication</button>
        <button type="button" class="btn btn-warning" ng-click="filters.operator = '+'">Addition</button>
        <button type="button" class="btn btn-warning" ng-click="filters.operator = '-'">Subtraction</button>
        <button type="button" class="btn btn-warning" ng-click="filters.operator = ''">All</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col-xs-12">
      <h4>Sort By:</h4>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <button type="button" class="btn btn-info" ng-click="questionsCtrl.doSort('first_operand')">First Operand</button>
        <button type="button" class="btn btn-info" ng-click="questionsCtrl.doSort('second_operand')">Second Operand</button>
        <button type="button" class="btn btn-info" ng-click="questionsCtrl.doSort('answer')">Answer</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <dir-pagination-controls></dir-pagination-controls>
      <div class="list-group">
        <a href="#/viewquestion/{{question.id}}" class="list-group-item" dir-paginate="question in questionsCtrl.questions | filter:filters | itemsPerPage: 20 | orderBy:questionsCtrl.sortBy:questionsCtrl.reverse">
        What is {{question.first_operand | number}} {{question.operator}} {{question.second_operand | number}}?  <strong>{{question.answer | number}}</strong>
        </a>
      </div>
    </div>
  </div>

</div>

<!-- ng-repeat="question in questionsCtrl.questions | filter:filters | orderBy:questionsCtrl.sortBy:questionsCtrl.reverse" -->

