<div class="container">
  <!-- VIEW ROW -->
  <div class="row">
    <h1>View Question {{questionCtrl.question.id}}</h1>
    <!-- View Question Col -->
    <div class="col-xs-6 col-sm-5">
      <h3>Question</h3>
      <h4>What is {{questionCtrl.question.first_operand | number}} {{questionCtrl.question.operator}} {{questionCtrl.question.second_operand | number}}?</h4>
      <h5>Answer: {{questionCtrl.calculatedAnswer(questionCtrl.question.first_operand, questionCtrl.question.second_operand, questionCtrl.question.operator) | number}}</h5>
    </div>
    <!-- View Distractors Col -->
    <div class="col-xs-6 col-sm-5">
      <h3>Distractors</h3>
      <ul>
        <li ng-repeat="distractor in questionCtrl.distractors">{{distractor.distractor | number}}</li>
      </ul>
    </div>
  </div>
  <hr>

  <!-- EDIT ROW -->
  <div class="row">
    <!-- Edit Question Col -->
    <div class="col-xs-6 col-sm-5">
      <!-- Edit Question buttons -->
      <button type="button" class="btn btn-primary" ng-click="editQuestionForm = !editQuestionForm; editDistractorsForm = false; createDistractorForm = false">Edit Question</button>
      <!-- Edit Question Form -->
      <form ng-show="editQuestionForm">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="first_operand">First Operand</label>
              <input type="text" ng-model="questionCtrl.question.first_operand" class="form-control" id="first_operand">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="second_operand">Second Operand</label>
              <input type="text" class="form-control" id="second_operand" ng-model="questionCtrl.question.second_operand">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <label for="operator">Operator</label>
            <select ng-model="questionCtrl.question.operator" ng-options="obj.id as obj.name for obj in questionCtrl.operators">
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-sm btn-success" ng-click="questionCtrl.editQuestion(); editQuestionForm = !editQuestionForm;">Save</button>
        <button type="cancel" class="btn btn-sm btn-danger" ng-click="editQuestionForm = !editQuestionForm;">Cancel</button>
      </form>
    </div>

    <!-- Edit Distractor Col -->
    <div class="col-xs-6 col-sm-5">
      <!-- Edit Distractor Buttons -->
      <button type="button" class="btn btn-primary" ng-click="editDistractorsForm = !editDistractorsForm; editQuestionForm = false; createDistractorForm = false">Edit Distractors</button>

      <button type="button" class="btn btn-primary" ng-click="editDistractorsForm = false; editQuestionForm = false; createDistractorForm = !createDistractorForm">Add Distractor</button>

      <!-- Edit Distractors Form -->
      <form ng-show="editDistractorsForm">
        <div class="input-group" ng-repeat="distractor in questionCtrl.distractors">
          <input type="text" class="form-control" id="" ng-model="distractor.distractor">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button" ng-click="questionCtrl.deleteDistractor(distractor.id, $index)">X</button>
          </span>
        </div>

        <button type="submit" class="btn btn-sm btn-success" ng-click="questionCtrl.editDistractors(); editDistractorsForm = !editDistractorsForm;">Save</button>
        <button type="cancel" class="btn btn-sm btn-danger" ng-click="editDistractorsForm = !editDistractorsForm">Cancel</button>
      </form>

      <!-- Add Distractors Form -->
      <form ng-show="createDistractorForm">
        <input type="text" class="form-control" id="" ng-model="questionCtrl.newDistractor.distractor">
        <button type="submit" class="btn btn-sm btn-success" ng-click="questionCtrl.addDistractor(); createDistractorForm = !createDistractorForm;">Save</button>
        <button type="cancel" class="btn btn-sm btn-danger" ng-click="createDistractorForm = !createDistractorForm">Cancel</button>
      </form>

    </div>

  </div>
  <br><br><br>
  Question:<br>
  {{questionCtrl.question}}<br>
  Distractors:<br>
  {{questionCtrl.distractors}}<br>
  New Distractor:<br>
  {{questionCtrl.newDistractor}}

</div>
